html {
  font-size: 62.5%;
}

/* =================== */
/* ==== VARIABLES ====*/
/* =================== */
:root {
  --base-light: #f5f0ec;
  --base-dark: #111;

  --base-green: #1b5b31;
  --base-green-light: #277542;
  --base-green-dark: #1a4e2c;

  --base-yellowish: #dcc1ab;
}

*,
*::before,
*::after,
a:link,
a:visited {
  color: var(--base-dark);
}

/* ==================== */
/* == HELPER CLASSES ==*/
/* ==================== */
.toggling-apperance {
  transition: 0.3s ease;
}

.hidden-custom {
  opacity: 0;
  width: 0;
}

.active-custom {
  width: 15rem;
  opacity: 1;
}

/* ==================== */
/* ==== NAVIGATION ====*/
/* ==================== */
nav.navbar {
  padding: 2.4rem 0;
}

.navbar-collapse .navbar-nav {
  gap: 3rem;
}

.navbar-collapse .navbar-nav .nav-item {
  align-items: center;
  font-size: 1.6rem;
}

.navbar-collapse .navbar-nav .nav-item img {
  width: 1.8rem;
}

#search-icon-toggler {
  cursor: pointer;
}

#search-bar {
  background: none;
  outline: none;
  border: none;

  padding: 0.5rem 1rem;

  border: 2px solid var(--base-green);
  border-radius: 5rem;
}

.navbar-collapse .navbar-nav .nav-item a:active {
  color: var(--base-green);
}

.dropdown-menu .dropdown-item {
  font-size: 1.6rem;
}

.dropdown-menu .dropdown-item:active {
  transition: 0.2s ease;
}

.dropdown-menu .dropdown-item:active {
  background-color: var(--base-green);
}

.dropdown-menu .dropdown-item:active {
  color: var(--base-light) !important;
}

/* =================== */
/* == BANER SECTION ==*/
/* =================== */

.section-header {
  background-color: var(--base-yellowish);
}

/* TITLE */
.section-header h1 {
  font-size: 6rem;
  line-height: 7rem;
  color: #111;

  margin-bottom: 4.4rem;
}

/* PARAGRAPH UNDER TITLE */
.section-header p {
  font-size: 1.6rem;
  line-height: 150%;
  max-width: 45rem;

  margin-bottom: 7.2rem;
}

/* BUTTONS */
.section-header__btns {
  gap: 3.6rem;
}

.section-header__btns .btn-custom {
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  border-radius: 20rem;
  transition: 0.3s ease;
  cursor: pointer;

  background: none;
  border: none;
  outline: none;
}

.section-header__btns .btn-custom-selected {
  color: var(--base-light);
  background-color: var(--base-green);
}

.section-header__btns .btn-custom-selected:hover {
  background-color: var(--base-green-light);
  transform: scale(1.02);
  box-shadow: 0 0 6px #1111113d;
}

.section-header__btns .btn-custom-selected:active {
  background-color: var(--base-green-dark);
  transform: scale(1.01);
}

.section-header__btns .btn-custom-secondary {
  color: var(--base-green);
  border: 1px solid var(--base-green);
  background: none;
}

.section-header__btns .btn-custom-secondary span {
  margin-left: 8px;
}

.section-header__btns .btn-custom-secondary:hover {
  background-color: var(--base-green);
  color: #f5f0ec;
}

.section-header__btns .btn-custom-secondary:active {
  background-color: var(--base-green-dark);
  color: #f5f0ec;
}

.section-header__btns .btn-custom-secondary:hover span {
}

/* CAROUSEL */
.carousel-container {
  width: 50vw;
  max-width: 50vw;
  margin-right: calc(-50vw + 50%);
}

.carousel-controls-container {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 1rem;
  gap: 2rem;
  background-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  padding: 2.4rem 1.6rem;
  opacity: 0.5;

  transition: 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

/* ==================== */
/* == SECTION OFFERS == */
/* ==================== */
.section-offers {
  padding-top: 12rem;
  padding-bottom: 16rem;
}

/* 1085px */
@media only screen and (max-width: 67.8125em) {
  /* TITLE */
  .section-header h1 {
    font-size: 5rem;
  }

  /* CAROUSEL */
  .carousel-container {
    width: 55vw;
    max-width: 55vw;
  }

  .carousel-controls-container {
    right: 6.4rem;
  }
}

/* 992px */
@media only screen and (max-width: 62em) {
  /* CAROUSEL */
  .carousel-container {
    width: 80vw;
    max-width: 80vw;
    margin: 0 auto;
  }

  .carousel-controls-container {
    right: 0px;
  }
}

/* 416px */
@media only screen and (max-width: 26em) {
  /* TITLE */
  .section-header h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  /* PARAGRAPH UNDER TITLE */
  .section-header p {
    max-width: 100%;
  }
}
